footer { /* Arttu made footer */
  position: static;
   right: 0;
  bottom: 0;
  left: 0;  
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  margin-top: 25px;
    
    
    
}

/*Miika made footer text css*/
.footertext{
  font-size: small;
  color: #ddd;
  background-size: cover;
  text-align: center;
}

/*Miika made company tag to footer*/
.INC{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  color: #ddd;
  text-align: right;
  background-size: cover;
}

body{
  text-align:center;
  display:grid;
  grid-template-rows: auto 1fr auto;
  min-height:100vh;
}
